<div class="ad-container">
  <div class="ad-body">
    <div class="title">
      <p class="title-main">Somos uma consultoria Full Service</p>
      <p>Desenvolvemos e transformamos</p>
      <p>equipes em times de alta performance.</p>
    </div>

    <div class="contacts">
      <div class="details">
        <img src="assets/images/wpp.svg" alt="Whatsapp" class="icon2">
        <div>
          <p class="contact-title">Whatsapp</p>
          <p>Fale com um de nossos representantes</p>
        </div>
      </div>
      <div class="details">
        <img src="assets/images/Letter.svg" alt="E-mail" class="icon">
        <div>
          <p class="contact-title">E-mail</p>
          <p>Envie-nos um e-mail com todas as suas dúvidas</p>
        </div>
      </div>
    </div>
  </div>
</div>
