<footer>
    <div class="footer-bottom">
        <div class="footer-bottom-container">
            <div class="copyright-social">
                <img src="assets/images/moveon-azul.png" alt="" class="moveon">
                <p class="copyright">Copyright © 2025 Moveon | Todos os direitos reservados</p>
                <div class="social-icons">
                    <a href="#" class="social-icon">
                        <img src="assets/images/instagram.png" alt="" srcset="">
                    </a>
                    <a href="#" class="social-icon">
                        <img src="assets/images/facebook.png" alt="" srcset="">
                    </a>
                </div>
            </div>
        
            <div class="footer-column footer-column-middle">
                <h3 class="footer-column-title">Dê uma olhada</h3>
                <ul class="footer-links">
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Nossas soluções</a></li>
                    <li><a href="#">Nossos clientes</a></li>
                </ul>
            </div>

            <!-- Right Column - Support -->
            <div class="footer-column footer-column-right">
                <h3 class="footer-column-title">Support</h3>
                <ul class="footer-links">
                    <li><a href="#">Contatos</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>