<header class="header-container bg-header">
    <div class="nav-img">
        <img src="assets/images/moveon.png" alt="Logo">
    </div>

    <!-- Botão Mobile -->
    <button class="menu-btn" (click)="toggleMenu()">
        ☰
    </button>

    <!-- Menu -->
    <nav class="nav-context" [class.active]="menuMobile">
        <a href="#inicio" class="links" (click)="closeMenu()">Início</a>
        <a href="#hero" class="links" (click)="closeMenu()">Sobre nós</a>
        <a href="#services" class="links" (click)="closeMenu()">Nossas soluções</a>
        <a href="#clientes" class="links" (click)="closeMenu()">Nossos clientes</a>

        <button class="btn-contact" (click)="closeMenu()">
            <a href="#contato" class="text-yellow">Contatos</a>
        </button>
    </nav>
</header>
