.client-container{
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    height: 469px;
    padding-top: 47px;
}

.title h1{
    font-size: 30px;
    line-height: 35px;
    
}

.title p{
    font-size: 20px;   
}

.title button{
    margin-top: 14px;
    width: 100%;
    padding: 14px 32px 14px 32px;
    background-color: #084783;
    color: white;
    border: none;
    border-radius: 4px;
}

.strong{
    font-weight: 900;
}

.client-description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}
