<div class="hero-container">
    <div>
        <img src="assets/images/hero.png" alt="">
    </div>
    <div class="text-hero-container bg-hero">
        <div class="text-principal hero-body">
            <h1>Quem é a Moveon?</h1>
            <div class="paragraph text-black">
                <h2 class="text-principal">Desenvolvemos e transformamos equipes em times de alta performance.</h2>
                <h2>Somos uma consultoria full-service em Recursos Humanos, atuando estrategicamente no desenvolvimento e
                    performance de  profissionais, estagiários e trainees.
                </h2>
                <h2>
                    Especializados em capacitação de média e alta liderança, por meio de  jornadas de aprendizagem
                    vivencial, cocriamos estratégias com nossos clientes, a fim de estimular o máximo potencial de cada
                    pessoa, entregando times mais eficazes, diferenciados e engajados por resultados.
                </h2>
                <h2>
                    Nosso propósito é transformar pessoas e conectá-las aos seus potenciais mais produtivos e altamente
                eficientes, contribuindo para a melhoria dos resultados das empresas.
                </h2>
            </div>
        </div>
    </div>
</div>