.hero-container {
    width: 100%;
}

.hero-container img {
    width: 100%;
    height: 437px;
}

.text-hero-container {
    display: flex;
    justify-content: center;
    height: 472px;
}

.hero-body{
    padding-top: 44px;
    text-align: center;
    max-width: 1060px;
    width: 100%;
}

.hero-body h2 {
    font-size: 20px;
    font-family: "Merriweather", serif;
}

.hero-body h3 {
    font-size: 20px;
    font-family: "Merriweather", serif;
}

.paragraph{
    display: flex;
    flex-direction: column;
    gap: 20px;
}