/* ---------------- CONTAINER CENTRALIZADO ---------------- */

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;

}

/* ---------------- HERO ---------------- */

.hero-container {
    width: 100%;
    padding-top: 91px;
}

.hero-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.text-hero-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    box-sizing: border-box;
}

.hero-body {
    text-align: center;
    padding: 20px 0;
}

.hero-body h1 {
    font-size: 32px;
    margin-bottom: 25px;
    color: #084783;
}

.hero-body h2 {
    font-size: 20px;
    font-family: "Merriweather", serif;
    line-height: 1.6;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

@media (max-width: 1024px) {
    .hero-body h1 {
        font-size: 28px;
    }

    .hero-body h2 {
        font-size: 19px;
    }

    .paragraph {
        gap: 18px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }

    .hero-body h1 {
        font-size: 26px;
    }

    .hero-body h2 {
        font-size: 18px;
        line-height: 1.5;
    }

    .paragraph {
        gap: 16px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 12px;
    }

    .hero-body h1 {
        font-size: 22px;
    }

    .hero-body h2 {
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    .container {
        padding: 0 10px;
    }

    .hero-body h1 {
        font-size: 20px;
    }

    .hero-body h2 {
        font-size: 14px;
    }
}


@media (max-with: 1300px){

}
