.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 379px;
    width: 100%;
    padding-top: 40px;
}

.title{
    width: 100%;
    padding: 20px 0px 0px 200px;
    font-size: 28px;
}

.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    align-items: center;
    gap: 40px;
    
}