.services-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; /* Centraliza somente o wrapper */
    padding: 40px 0; /* Sem padding lateral! */
}

.services-wrapper {
    width: 100%;
    max-width: 1086px;
    padding: 0 20px; /* Padding igual para título e cards */
}

.title {
    width: 100%;
    text-align: left; /* Alinha o texto à esquerda */
}

.title h2 {
    font-size: 28px;
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 249px);
    gap: 40px;
    margin-top: 20px;
    width: 100%;
    justify-content: flex-start;
}


/* --- RESPONSIVIDADE --- */

@media (max-width: 1200px) {
    .services {
        grid-template-columns: repeat(2, 249px);
        gap: 30px;
        justify-content: center;
    }

    .title{
        text-align: center;
    }
}

@media (max-width: 768px) {

    .services-wrapper {
        padding: 0 15px;
    }

    .title h2 {
        font-size: 24px;
    }

    .services {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 15px;
    }
}

@media (max-width: 480px) {

    .services-wrapper {
        padding: 0 10px;
    }

    .title h2 {
        font-size: 20px;
    }

    .services {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 15px;
    }
}
