<div class="services-container">
    <div class="title">
        <h2 class="text-principal">Nossas</h2>
        <h2 class="text-yellow">SOLUÇÕES</h2>
    </div>
    <div class="services">
        <app-cards title="LeaderOn" subtitle="Programas customizados para desenvolvimento de líderes de alta performance." imagem="assets/images/icon1.png"></app-cards>
        <app-cards title="GrowOn​" subtitle="Treinamento de Soft Skills para desenvolvimento de times." imagem="assets/images/icon2.png"></app-cards>
        <app-cards title="PeopleOn" subtitle="​Formação de times de gente, gestão, cultura e ou recursos humanos, com conteúdos e técnicas de mercado." imagem="assets/images/icon3.png"></app-cards>
        <app-cards title="Hunting Especializado" subtitle="Profissionais altamente especializados em recrutamento e seleção de diversos perfis." imagem="assets/images/icon4.png"></app-cards>
    </div>
</div>
