.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 379px;
    width: 100%;
    padding-top: 40px;
}

.title {
    width: 100%;
    max-width: 1086px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title h2 {
    font-size: 28px;
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 249px);
    gap: 40px;
    margin-top: 20px;
}
