* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    // height: 100%;
    // font-family: 'Montserrat', sans-serif;
    font-family: "rotunda-variable",sans-serif;
    font-variation-settings: 'wght' 400;
    scroll-behavior: smooth;
}

.bg-header {
    background-color: #084783;
}

.text-yellow{ 
    color: #F9AF0E;
}

.text-gray{
    color: #67747C;
}

.bg-hero{
    background-color: #ececec;
}

.text-principal {
    color: #084783;
}

.text-black{
    color: #212121;
}

#inicio,
#hero,
#services,
#clientes,
#contato {
    scroll-margin-top: 200px; 
}
