* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    // height: 100%;
    // font-family: 'Montserrat', sans-serif;
    // scroll-behavior: smooth; 
    font-family: "rotunda-variable",sans-serif;
    font-variation-settings: 'wght' 400;
}

.bg-header {
    background-color: #084783;
}

.text-yellow{ 
    color: #F9AF0E;
}

.text-gray{
    color: #67747C;
}

.bg-hero{
    background-color: #F9F9F9;
}

.text-principal {
    color: #084783;
}

.text-black{
    color: #212121;
}