.card-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 249px;
    height: 243px;
    padding: 20px;
}

.title{
    font-size: 20px;
}

.subtitle{
    font-size: 14px;
}

img{
    width: 36px;
    height: 36px;
}