.card-wrapper {
    position: relative;
    width: 282px;
    height: 540px;
    margin: 0;
}

.card-branco{
    width: 282px;
    height: 540px;
    background-color: #F9F9F9;
    position: relative;
    z-index: 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.fundo{
    position: absolute;
    width: 273px;
    height: 250px;
    background-color: #084783;
    opacity: 0.25;
    top: 20px;
    left: 15px;
    z-index: 1;
    transform: rotate(15deg);
    transform-origin: center center;
    border-radius: 5px;
}